<c-row class="g-4">
  <!-- Grant Fundings -->
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="success" [title]="'Grant Fundings'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ fundingSummary.grantCount }}
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart  class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Loan Fundings -->
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Loan Fundings'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ fundingSummary.loanCount }}
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Subsidy Fundings -->
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="secondary" [title]="'Subsidy Fundings'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ fundingSummary.subsidyCount }}
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart  class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Total Fundings -->
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Total Fundings'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ fundingSummary.totalFundings }}
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart  class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>

  <!-- Total Funding Amount -->
  <!-- <c-col sm="6" xl="3">
    <c-widget-stat-a color="info" [title]="'Total Funding Amount'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ fundingSummary.totalAmount | currency:'USD':'symbol':'1.2-2' }}
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col> -->
</c-row>
