<div class="container">
  <h2 class="my-4">Project Details</h2>
  
  <div class="card">
    <div class="card-header">
      <h2>Project Title: {{ application.title }}</h2>
    </div>
    <div class="card-body">
      <p><strong>Project ID:</strong> {{ application.id }}</p>
      <p><strong>Description:</strong> {{ application.description }}</p>
      <p><strong>Organization:</strong> {{ application.organizationName }}</p>
      <p><strong>Country:</strong> {{ application.country }}</p>
      <p><strong>Funding Type:</strong> {{ application.fundingType }}</p>
      <p><strong>Status:</strong> {{ application.status }}</p>
      <p><strong>Project Date:</strong> {{ application.createdAt | date }}</p>
    </div>
  </div>

  <div class="card mt-4">
    <div class="card-header">
      <h3>Update Project Status</h3>
    </div>
    <div class="card-body">
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="status">Status</label>
          <select class="form-control" id="status" [(ngModel)]="updatedStatus" name="status">
            <option>Pending</option>
            <option>Approved</option>
            <option>Rejected</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">Update Status</button>
      </form>
    </div>
  </div>
</div>
