

<button class="toggle-btn" (click)="toggleNav()">&#9776;</button>

<div class="side-nav" [class.hidden]="isNavHidden">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/projects">Projects</a></li>
  </ul>
</div>

<div class="final">

    <div class="container">
    <h2>Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" formControlName="email" />
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" />
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid">Login</button>
    </form>
    <div class="new-member">
        New to TTP? <a routerLink="/register">   Sign up</a>
    </div>
</div>

</div>


<footer class="footer">
  <div class="footer-left">
    <a class="separator"></a>
    <a href="https://twitter.com" target="_blank">   <i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:info@ttp.com" target="_blank"><i class="fas fa-envelope"></i></a>
    <a class="separator"></a>
  </div>
  <div class="footer-right">
    <p>59 Hayden Street, Toronto, Ontario, M4Y 2P2</p>
  </div>
</footer>
