<div class="container">
    <div class="card">
      <div class="card-header">
        <h4>Create New Funding</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="createFundingForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="deadline">Deadline</label>
            <input id="deadline" type="date" class="form-control" formControlName="deadline">
          </div>
          <div class="form-group">
            <label for="details">Details</label>
            <textarea id="details" rows="3" class="form-control" formControlName="details"></textarea>
          </div>
          <div class="form-group">
            <label for="fundingAmount">Funding Amount</label>
            <input id="fundingAmount" type="number" class="form-control" formControlName="fundingAmount">
          </div>
          <div class="form-group">
            <label for="fundingMinistry">Funding Ministry</label>
            <input id="fundingMinistry" type="text" class="form-control" formControlName="fundingMinistry">
          </div>
          <div class="form-group">
            <label for="fundingType">Funding Type</label>
            <select id="fundingType" class="form-control" formControlName="fundingType">
              <option value="Grant">Grant</option>
              <option value="Loan">Loan</option>
              <option value="Investment">Subsidy</option>
            </select>
          </div>
          <div class="form-group">
            <label for="orgType">Organization Type</label>
            <select id="orgType" class="form-control" formControlName="orgType">
              <option value="Research">Research</option>
              <option value="Startup">Startup</option>
              <option value="Company">Company</option>
            </select>
          </div>
          <div class="form-group">
            <label for="overview">Overview</label>
            <textarea id="overview" rows="3" class="form-control" formControlName="overview"></textarea>
          </div>
          <div class="form-group">
            <label for="programName">Program Name</label>
            <input id="programName" type="text" class="form-control" formControlName="programName">
          </div>
          <div class="form-group">
            <label for="qualifications">Qualifications</label>
            <textarea id="qualifications" rows="3" class="form-control" formControlName="qualifications"></textarea>
          </div>
          <div class="form-group">
            <label for="status">Status</label>
            <select id="status" class="form-control" formControlName="status">
              <option value="Pending">Pending</option>
              <option value="Approved">Approved</option>
              <option value="Rejected">Rejected</option>
            </select>
          </div>
  
          <button type="submit" class="btn btn-primary mt-2">Create Funding</button><br>
          <button type="button" class="btn btn-primary mt-1" (click)="goBack()">Back</button>
        </form>
      </div>
    </div>
  </div>
  