<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Form Control</strong>
        </c-card-header>
        <c-card-body>
            <div class="card">
            <div class="card-header">
                <h2 class="card-title">{{ funding.programName }}</h2>
                <div *ngIf="appliedFunding">
                    Applied ___Status___ : {{ appliedFunding.status }}
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                    <label>Funding Ministry:</label>
                    <p>{{ funding.fundingMinistry }}</p>
                    </div>
                    <div class="form-group">
                    <label>Funidng Amount:</label>
                    <p>{{ funding.fundingAmount }}</p>
                    </div>
                    <div class="form-group">
                    <label>Funding Type:</label>
                    <p>{{ funding.fundingType }}</p>
                    </div>
                    <div class="form-group">
                    <label>Organization Type:</label>
                    <p>{{ funding.orgType }}</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                    <label>Overview:</label>
                    <p>{{ funding.overview }}</p>
                    </div>
                    <div class="form-group">
                    <label>Qualifications required:</label>
                    <p>{{ funding.qualifications }}</p>
                    </div>
                    <div class="form-group">
                        <label>Details:</label>
                        <p>{{ funding.details }}</p>
                        </div>
                    <!-- Add more fields as needed -->
                </div>
                </div>
            </div>
            <div class="card-footer">

                <button *ngIf="!appliedFunding" class="btn btn-primary mr-2" (click)="applyFunding(funding.id, projectId)">Apply</button>
                <button class="btn btn-secondary" (click)="goBack()">Back</button>
            </div>
            </div>
  </c-card-body>
  </c-card>
  </c-col>
  </c-row>
  
  