mat-card {
    max-width: 600px;
    margin: 20px auto;
  }
  
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  .image-container {
    text-align: center;
    margin-bottom: 16px;
  }
  
  .image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  .button_container{
  display: flex;
  justify-content: flex-end;

  }
  .b-button{
    background-color: black;
  }
  
  