<button class="toggle-btn" (click)="toggleNav()">&#9776;</button>

<div class="side-nav" [class.hidden]="isNavHidden">
  <ul>
    <li><a routerLink="">Home</a></li>
    <li><a routerLink="/login">Login</a></li>
    <li><a routerLink="/register">Register</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/projects">Projects</a></li>
  </ul>
</div>

<div class="video-container">
  <video autoplay muted loop id="backgroundVideo">
    <source src="assets/third.mp4" type="video/mp4">
    Your browser does not support HTML5 video.
  </video>
  <div class="overlay"></div>
</div>

<div class="home-container">
  <img src="../../../../assets/TTP_Primary_RGB.png" alt="Photo" class="header-photo">
  <h1>Welcome to Technology Transfer Platform</h1>
  <p class="brand-message">
    Technology Transfer Platform is a digital network looking to connect researchers with the people and organizations who can support bringing their work to market. TTP is unique amongst its competitors in its offering of connection and transparency. The brand message must build trust, convey tangibility, and illustrate the need that TTP will fulfill. It should remain approachable, professional, and communicate that we understand the needs and concerns of academia.
  </p>

  <div class="features">
    <div class="feature">
      <h2>Connection</h2>
      <p>Connect researchers with support networks.</p>
    </div>
    <div class="feature">
      <h2>Human</h2>
      <p>Empower researchers with human connections.</p>
    </div>
    <div class="feature">
      <h2>Tangibility</h2>
      <p>Transform ideas into tangible outcomes.</p>
    </div>
    <div class="feature">
      <h2>Community</h2>
      <p>Foster a supportive community of innovators.</p>
    </div>
    <div class="feature">
      <h2>Professional</h2>
      <p>Deliver professional services and support.</p>
    </div>
    <div class="feature">
      <h2>Trust</h2>
      <p>Build trust through transparent interactions.</p>
    </div>
  </div>

  <p class="start-journey">Start your journey with us</p>

  <div class="action-buttons">
    <button class="btn-login" routerLink="/login">Login</button>
    <button class="btn-register" routerLink="/register">Register</button>
  </div>
</div>


<footer class="footer">
  <div class="footer-left">
    <a class="separator"></a>
    <a href="https://twitter.com" target="_blank">   <i class="fab fa-twitter"></i></a>
    <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://youtube.com" target="_blank"><i class="fab fa-youtube"></i></a>
    <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
    <a href="mailto:info@ttp.com" target="_blank"><i class="fas fa-envelope"></i></a>
    <a class="separator"></a>
  </div>
  <div class="footer-right">
    <p>59 Hayden Street, Toronto, Ontario, M4Y 2P2</p>
  </div>
</footer>
