<c-row ngPreserveWhitespaces>
    <c-col xs="12">
      <c-card class="mb-4">
        <c-card-header>
          <strong>Angular Form Control</strong>
        </c-card-header>
        <c-card-body>
            <form cForm [formGroup]="editAccountForm" (ngSubmit)="submitForm()">
              
              <c-row>
                <c-col xs="6">
                  <div class="mb-3">
                    <label for="fullname">Full Name</label>
                    <input cFormControl
                           id="fullName"
                           placeholder="Please enter fullname"
                           type="text" formControlName="fullName"
                    />
                  </div>
                  <div class="mb-3">
                    <label for="email">Email</label>
                    <input cFormControl
                           id="email"
                           placeholder="Please enter email"
                           type="text" formControlName="email"  readonly            
                           />
                  </div>
                   
                   
                </c-col>
               
              </c-row>
          
              <input cButton color="primary" type="submit" value="Submit"/>

            </form>
            <div *ngIf="updateSuccess" class="alert alert-success mt-3" role="alert">
              Details updated successfully!
            </div>
        </c-card-body>
      </c-card>
    </c-col>
    
  </c-row>
  
  