<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      <c-card-body>
        <div class="card" style="margin-bottom: 20px;">
          <c-card-header>
            <strong>All applied funding</strong> 
          </c-card-header> 
          <div class="card-body">
            <table cTable [striped]="true">
              <thead>
                <tr>
                  <th scope="col" class="bg-black text-white">#</th>
                  <th scope="col" class="bg-black text-white">Project Title</th>
                  <th scope="col" class="bg-black text-white">Program Name</th>
                  
                  <th scope="col" class="bg-black text-white">Application Date</th>
                  <th scope="col" class="bg-black text-white">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of funding; let i = index">
                  <th scope="row">{{ i + 1 }}</th>
                  <td>{{ item.project.title }}</td>
                  <td>{{ item.funding.programName }}</td>
                  
                  <td>{{ item.applicationDate | date:'yyyy-MM-dd' }}</td>
                  <td>{{ item.status }}</td>
                 
                </tr>
              </tbody>
            </table>
            <nav *ngIf="totalPages > 1">
              <ul class="pagination">
                <li class="page-item" [class.disabled]="currentPage === 0">
                  <a class="page-link" (click)="onPageChange(currentPage - 1)">Previous</a>
                </li>
                <li class="page-item" *ngFor="let page of [].constructor(totalPages); let i = index" 
                    [class.active]="i === currentPage">
                  <a class="page-link" (click)="onPageChange(i)">{{ i + 1 }}</a>
                </li>
                <li class="page-item" [class.disabled]="currentPage + 1 >= totalPages">
                  <a class="page-link" (click)="onPageChange(currentPage + 1)">Next</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </c-card-body>
    </c-card>
  </c-col>
</c-row>
