<c-row class="g-4">
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="success" [title]="'Approved'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ approvedCount }}
        <!-- <span class="fw-normal" style="font-size: 12px;">
          (-12.4% <svg cIcon name="cilArrowBottom" size="sm"></svg>)
        </span> -->
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[0]" [options]="options[0]" class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="warning" [title]="'Pending'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ pendingCount }}
        <!-- <span class="fw-normal" style="font-size: 12px;">
          (40.9% <svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span> -->
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[1]" [options]="options[1]" class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="danger" [title]="'Rejected'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ rejectedCount }}
        <!-- <span class="fw-normal" style="font-size: 12px;">
          (84.7% <svg cIcon name="cilArrowTop" size="sm"></svg>)
        </span> -->
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[2]" [options]="options[2]" class="mt-4 mx-3" height="50" type="line"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
  <c-col sm="6" xl="3">
    <c-widget-stat-a color="primary" [title]="'Total Applications'">
      <ng-template cTemplateId="widgetValueTemplate">
        {{ totalCount }}
        <!-- <span class="fw-normal" style="font-size: 12px;">
          (-23.6% <svg cIcon name="cilArrowBottom" size="sm"></svg>)
        </span> -->
      </ng-template>
      <ng-template cTemplateId="widgetChartTemplate">
        <c-chart [data]="data[3]" [options]="options[3]" class="mt-4 mx-3" height="50" type="bar"></c-chart>
      </ng-template>
    </c-widget-stat-a>
  </c-col>
</c-row>
