.custom-delete-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  font-size: 24px;
  cursor: pointer;
}

.custom-delete-icon {
  color: red; /* Change to desired color */
  font-weight: bold;
}
