<app-widgets-dropdown-users/>
<c-card class="my-4">
    <table cTable hover striped>
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">User ID</th>
            <th scope="col">Email</th>
            <th scope="col">Full Name</th>
            <th scope="col">View User</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users">
            <th scope="row">{{ user.id }}</th>
            <td>{{ user.id }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.fullName }}</td>
            <!-- <td><a [routerLink]="['/view-application']">View Application</a></td> -->
            <td><a [routerLink]="['/view-user', user.id]">View User</a></td>
          </tr>
        </tbody>
      </table>
</c-card>
