<div class="bg-light dark:bg-transparent min-vh-100 d-flex flex-row align-items-start">
  <c-container>
    <c-row class="">
      <c-col lg="20" md="20" xl="20">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            
            <h1>MY PROJECTS</h1>
            <div class="h-section">
            
            <button [active]="true" cButton color="primary" routerLink="/my/projects/create">New Application</button>
           
          </div>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th>TITLE</th>
                  <th>ORGANIZATION TYPE</th>
                  <th>ORGANIZATION NAME</th>
                  <th>COUNTRY</th>
                  <th>TYPE OF FUNDING</th>
                  <th>AREA OF REASEARCH</th>
                  <th>Status</th>
                  <th>VIEW</th>
                </tr>
              </thead>
              <tbody>
                <!-- Example row -->
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                
                  <td><form  action="#/editForm"><button type="submit" cButton color="warning">EDIT</button></form><form action="#/viewapplication/viewapplication"> <button type="submit" cButton color="success">VIEW</button></form></td>
                </tr>
                <!-- Add more rows as needed -->
              </tbody>
            </table>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>



