<c-row ngPreserveWhitespaces>
  <c-col xs="12">
    <c-card class="mb-4">
      
      <c-card-body>
        
        <button [active]="true" cButton color="primary" routerLink="/my/projects/create">New Application</button>
           
          <table cTable>
            <thead>
            <tr>
              <th scope="col">TITLE</th>
              <th scope="col">ORG TYPE</th>
              <th scope="col">ORG NAME</th>
              <th scope="col">COUNTRY</th>
              <th scope="col">TYPE OF FUNDING</th>
              <th scope="col">Status</th>
              <th scope="col">VIEW</th>
            </tr>
            </thead>
            <tbody>
              <tr *ngFor="let project of projects">
                <td>{{ project.title }}</td>
                <td>{{ project.organizationType }}</td>
                <td>{{ project.organizationName }}</td>
                <td>{{ project.country }}</td>
                <td>{{ project.fundingType }}</td>
                <td>{{ project.status }}</td>
                <td>
                  <button cButton color="success" (click)="viewProject(project)">VIEW</button>
                  <button cButton color="warning" (click)="editProject(project)">EDIT</button>
                  
                </td>
              </tr>
           
            </tbody>
          </table>
      </c-card-body>
    </c-card>
  </c-col>
  </c-row>



