<app-widgets-dropdown-fundings></app-widgets-dropdown-fundings>

<div class="my-4">
  <input [formControl]="searchControl" placeholder="Search by Program Name" class="form-control mb-3">
</div>

<c-card class="my-4">
<table cTable hover striped>
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">Funding ID</th>
      <th scope="col">Program Name</th>
      <th scope="col">Funding Type</th>
      <th scope="col">Funding Status</th>
      <th scope="col">View Funding</th>
      <th scope="col"> </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fund of filteredFunds">
      <th scope="row">{{ fund.id }}</th>
      <td>{{ fund.id }}</td>
      <td>{{ fund.programName }}</td>
      <td>{{ fund.fundingType }}</td>
      <td>{{ fund.status }}</td>
      <!-- <td><a [routerLink]="['/view-application']">View Application</a></td> -->
      <td><a [routerLink]="['/view-funding', fund.id]">View Funding</a></td>
      <td><button (click)="deleteFund(fund.id)" class="btn btn-danger"><i class="cil-trash"></i></button></td>
    </tr>
  </tbody>
</table>
</c-card>

